@import url("https://fonts.googleapis.com/css2?family=Anta&family=Questrial&display=swap");

.main{
   width: 100%;
}

.container{
    display: inline-block;
    width: 18%;
    align-items: center;
    padding-right: 2rem;
    padding-bottom: 5rem;
}

.container1{
    display: inline-block;
    width: 18%;
    align-items: center;
    padding-right: 2rem;
}

.container1a{
    display: inline-block;
    width: 18%;
    align-items: center;
    padding-right: 2rem;
    padding-top: 3rem;
}

.container1b{
    display: inline-block;
    width: 30%;
    align-items: center;
    padding-right: 2rem;
    padding-top: 3rem;
}

.container1c{
    display: inline-block;
    width: 18%;
    align-items: center;
    padding-right: 2rem;
    padding-top: 3rem;
}

.img1{
    width: 15rem;
    border-radius: 100%;
}

.para1{
    padding-top: 20px;
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Anta, sans-serif;   
}

.container2{
    display: flexbox;
    width: 20%;
    align-items: center;
}

.container3{
    display: inline-block;
    width: 30%;
    align-items: center;
    padding-right: 2rem;
}


.img2{
    width: 15rem;
    border-radius: 100%;
}

.img3{
    width: 15rem;
    border-radius: 100%;
}

.img4{
    width: 15rem;
    border-radius: 100%;
}

.img5{
    width: 15rem;
    border-radius: 100%;
}

.img1a{
    width: 15rem;
    border-radius: 100%;
}

.img2a{
    width: 15rem;
    border-radius: 100%;
}

.img6{
    margin-left: 2.5rem;
    width: 13rem;
    border-radius: 100%;
}

.container4{
    padding-top: 3rem;
    display: inline-block;
    width: 16%;
    align-items: center;
    padding-right: 2rem;
}

.container5{
    padding-top: 3rem;
    display: inline-block;
    width: 30%;
    align-items: center;
    padding-right: 1rem;
}