@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=&family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Questrial&display=swap");

.h1{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-size: 8vh;
    position: absolute;
    margin-top: 20vh;
}

.Img1{
    position: absolute;
    margin-left: 140vh;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img2{
    position: absolute;
    margin-left: 98vh;
    margin-top: 8vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img3{
    position: absolute;
    margin-left: 140vh;
    margin-top: 50vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img4{
    position: absolute;
    margin-left: 90vh;
    margin-top: 50vh;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Para1{
    position: absolute;
    color: aliceblue;
    width: 40%;
    font-size: 4vh;
    margin-top: 35vh;
}

.h2{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    margin-left: 120vh;
    font-size: 8vh;
    position: absolute;
    margin-top: 95vh;
}


.Img5{
    position: absolute;
    filter: brightness(-30);
    margin-left: 0;
    margin-top: 80vh;
    width: 320px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img6{
    position: absolute;
    margin-left: 53vh;
    margin-top: 89vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img7{
    position: absolute;
    margin-left: 10vh;
    margin-top: 120vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img8{
    position: absolute;
    margin-left: 53vh;
    margin-top: 120vh;
    width: 350px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Para2{
    position: absolute;
    color: aliceblue;
    width: 30%;
    margin-left: 120vh;
    font-size: 4vh;
    margin-top: 110vh;
}

.Event2{
    padding-top: 10rem;
}

.h3{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-size: 8vh;
    position: absolute;
    margin-top: 195vh;
}

.Img9{
    position: absolute;
    margin-left: 140vh;
    margin-top: 180vh;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img10{
    position: absolute;
    margin-left: 98vh;
    margin-top: 186vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img11{
    position: absolute;
    margin-left: 140vh;
    margin-top: 218vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img12{
    position: relative;
    margin-left: 90vh;
    margin-top: 218vh;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Para3{
    position: absolute;
    color: aliceblue;
    width: 40%;
    font-size: 4vh;
    margin-top: 210vh;
}
.Event5{
    padding-top: 80rem;
}
.Event4{
    padding-top: 10rem;
}

.Img17{
    position: absolute;
    margin-left: 140vh;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
    margin-top: -65vh;
}   


.Img18{
    position: absolute;
    margin-left: 98vh;
    margin-top: -59vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}
.Img19{
    position: absolute;
    margin-left: 140vh;
    margin-top: -27vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img20{
    position: absolute;
    margin-left: 90vh;
    margin-top: -27vh;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}
.Para4{
    position: absolute;
    color: aliceblue;
    width: 30%;
    margin-left: 120vh;
    font-size: 4vh;
    margin-top: 20vh;
}

.h4{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    margin-left: 120vh;
    font-size: 8vh;
    position: absolute;
    margin-top: 5vh;
}

.Img13{
    position: absolute;
    filter: brightness(-30);
    margin-left: 0;
    margin-top: 10vh;
    width: 320px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img14{
    position: absolute;
    margin-left: 53vh;
    margin-top: 18vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img15{
    position: absolute;
    margin-left: 10vh;
    margin-top: 50vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img16{
    position: absolute;
    margin-left: 53vh;
    margin-top: 50vh;
    width: 350px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}
.h5{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-size: 8vh;
    position: absolute;
    margin-top: -60vh;
}
.Para5{
    position: absolute;
    color: aliceblue;
    width: 40%;
    font-size: 4vh;
    margin-top: -45vh;
}