@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=&family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Questrial&display=swap");

.h1{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-size: 8vh;
    position: absolute;
    margin-top: 20vh;
}

.Img1{
    position: absolute;
    margin-left: 140vh;
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img2{
    position: absolute;
    margin-left: 98vh;
    margin-top: 8vh;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img3{
    position: absolute;
    margin-left: 120vh;
    margin-top: 50vh;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img4{
    position: absolute;
    margin-left: 90vh;
    margin-top: 50vh;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Para1{
    position: absolute;
    color: aliceblue;
    width: 40%;
    font-size: 4vh;
    margin-top: 35vh;
}

.h2{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    margin-left: 120vh;
    font-size: 8vh;
    position: absolute;
    margin-top: 80vh;
}


.Img5{
    position: absolute;
    filter: brightness(-30);
    margin-left: 0;
    margin-top: 80vh;
    width: 320px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img6{
    position: absolute;
    margin-left: 53vh;
    margin-top: 89vh;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img7{
    position: absolute;
    margin-left: 10vh;
    margin-top: 90vh;
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}


.Para2{
    position: absolute;
    color: aliceblue;
    width: 30%;
    margin-left: 120vh;
    font-size: 4vh;
    margin-top: 110vh;
}
.Para3{
    position: absolute;
    color: aliceblue;
    width: 30%;
    margin-left: 2vh;
    font-size: 4vh;
    margin-top: 10vh;
}
.Event2{
    padding-top: 10rem;
}

.h3{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-size: 8vh;
    position: absolute;
    margin-top: 195vh;
}

.Img9{
    position: absolute;
    margin-left: 140vh;
    margin-top: 215vh;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img10{
    position: absolute;
    margin-left: 98vh;
    margin-top: 196vh;
    width: 350px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}
.Img11{
    position: absolute;
    margin-left: 98vh;
    margin-top: 256vh;
    width: 350px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Para3{
    position: absolute;
    color: aliceblue;
    width: 40%;
    font-size: 4vh;
    margin-top: 210vh;
}

.Event4{
    padding-top: 40rem;
}
.h4{
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    margin-left: 120vh;
    font-size: 8vh;
    position: absolute;
    margin-top: 205vh;
}

.Img12{
    position: absolute;
    margin-left: 10vh;
    margin-top: 231vh;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img13{
    position: absolute;
    margin-left: 53vh;
    margin-top: 260vh;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Img14{
    position: absolute;
    margin-left: 10vh;
    margin-top: 293vh;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.Para4{
    position: absolute;
    color: aliceblue;
    width: 30%;
    margin-left: 120vh;
    font-size: 4vh;
    margin-top: 232vh;
}
.Event5{
    margin-top: 20%;
}

.Para5 {
    position: absolute;
    color: aliceblue;
    width: 30%;
    margin-left: 2vh; 
    font-size: 4vh;
    margin-top: 455vh;
    margin-left: 10vh;
    left: 0; 
}

.h5 {
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-size: 8vh;
    position: absolute;
    margin-top: 440vh;
    margin-left: 10vh;
    left: 0; 
}

.Img15{
    position: absolute;
    margin-left: 26vh;
    margin-top: 443vh;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px #222d31;
}

.event6{
    padding-top: 60%;
}

.Para6 {
    position: absolute;
    color: aliceblue;
    width: 30%;
    margin-left: 120vh; 
    font-size: 4vh;
    margin-top: 445vh;
    margin-left: 120vh;
    left: 0; 
}

.h6 {
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-size: 8vh;
    position: absolute;
    margin-top: 415vh;
    margin-left: 120vh;
    left: 0; 
}

.Img16{
    position: absolute;
    margin-left: 15vh;
    margin-top: 440vh;
    width: 300px;
    border-radius: 20px;
    left: 0; 
    box-shadow: 5px 3px 20px #222d31;
}
.Img17{
    position: absolute;
    margin-left: 60vh;
    margin-top: 470vh;
    width: 300px;
    border-radius: 20px;
    left: 0; 
    box-shadow: 5px 3px 20px #222d31;
}
.Img18{
    position: absolute;
    margin-left: 15vh;
    margin-top: 490vh;
    width: 300px;
    border-radius: 20px;
    left: 0; 
    box-shadow: 5px 3px 20px #222d31;
}

.event7{
    padding-top: 60%;
}

.Para7 {
    position: absolute;
    color: aliceblue;
    width: 30%;
    margin-left: 120vh; 
    font-size: 4vh;
    margin-top: 568vh;
    margin-left: 10vh;
    left: 0; 
}

.h7 {
    background: linear-gradient(90deg, rgb(119, 119, 119) 0%, rgba(29,168,240,1) 80%, rgb(3, 213, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    font-size: 8vh;
    position: absolute;
    margin-top: 550vh;
    margin-left: 10vh;
    left: 0; 
}

.Img19{
    position: absolute;
    margin-left: 125vh;
    margin-top: 560vh;
    width: 450px;
    border-radius: 20px;
    left: 0; 
    box-shadow: 5px 3px 20px #222d31;
}
